:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}
.post-preview{
	background-color: #192734;
	padding:15px;
}
.post-title{
	color:cyan;
	margin: 0;
}

.post-intro{
	color:#fff;
	font-size: 14px;
}

.flag {
	position: relative;
	display: inline;
	background: rgb(27, 113, 110);
	padding: 6px 10px;
	border-radius: 5px;
	
	font-weight: 600;
	text-align: left;
  }

  .time {
	display: inline-block;
	padding: 4px 6px;
	background: rgb(215, 8, 8);
  }