@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu|Roboto:400,700);

/*html, body{
  height: 100%;
}*/

body{
  font-family: "Ubuntu", sans-serif;
}



#portfolio{
  background-color:#15202B;
  background-attachment: fixed;
  background-size: fill;
  background-position: cover;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}
.row{
  background-color:#15202B;
}

  #portfolio h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.1);
  }

.thumbnail{
  position: relative;
}

  .thumbnail img{
    min-height: 250px;
    min-width: 300px;
  }

.thumbnail-hover{
  position: absolute;
  top: 2px;
  left: 2px;
  height: 99%;
  width: 99%;
  opacity: 0;
  transition:2s;
}

    .thumbnail-hover:hover{
    top: 2px;
    left: 2px;
    position: absolute;
    height: 99%;
    width: 99%;
    background-color: rgba(0,0,0,0.8);
    margin: 0 auto;
    transition:.5s;
    opacity: 1;
    padding-top: 30%;
    border-radius: 5px;
  }

  .thumbnail-hover i{
    text-decoration: none;
    color: white;
  }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

hr{
  width: 25%;
}